.clients-block{
  margin-top: 25px;
}

.clients-block h2{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.clients-data{
    display: flex;
    width: 990px;
    padding: 3px;
    border: 1px solid black;
    align-items: center;
}

.clients-data h3{
    font-size: 14px;
    width: 156px;
}

.checkbox{
    padding: 0px 4px;
    margin: 0px 7px;
}